@font-face
{
	font-family: "Comfortaa";
	src:url(Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
.hor-list
{
	margin:0;
	padding: 4px;
}
.hor-list > li
{
	display: inline;
	margin-rigth: 5px;
	padding: 3px;
}

body
{
	color:white;
	font-family: "Comfortaa";
	font-weight: bold;
}
header
{
	min-height: 300px;
	background:black;
	background-size: cover;
}
footer
{
	min-height: 300px;
	background-color: black;
}
h1
{
	font-size:50px;
}
h1 > a
{
	color:white;
}
h1 > a:hover
{
	color:white;
	text-decoration:none;
}
.logo-content
{
	min-height: 150px;
}
#nav > li
{
	margin:10px;
	font-size:20px;
}
.hor-list > li > a > .far,.fas
{
	font-size:26px;
}
.hor-list > li > a:hover
{
	text-decoration: none;
	color:grey;
}
.hor-list > li > a
{
	color:white;
}
#nav > li > a:hover
{
	text-decoration: none;
	color:grey;
}
section
{
	min-height:550px;
	color:black;
	font-size: 22px;
}
#main-section
{
	padding: 70px;
}
.main-section-white
{
	background-color: black;
	border-radius: px;
	margin:5px;
	color:white;
	font-style: normal;
}
.nav-left
{
	float:left;
	width: 90%;
}
.nav-right
{
	float:right;
	padding-right:15px;
}
footer > .row > .col
{
	padding:50px;
}
.footer-info > p:first-child
{
	color:grey;
	font-size:14px;
}
.footer-info > p:nth-child(2)
{
	font-size:20px;
}
.fab
{
	font-size:50px;
	color:white;
	padding: 10px;
}
small
{
	font-size:16px;
}
#cart-modal
{
	color:black;
}
.btn
{
	width:70%;
	margin-right: 150px;
}
.btn-secondary
{
	background-color:white;
	color:black;
	border-color:black;
}
.btn-secondary:hover
{
	background-color:grey;
	color:white;
	
}
.btn-primary
{
	background-color: black;
	border-color:black!important;
}
.btn-primary:hover
{
	background-color:black;
	color:white;
}
.item-block
{
	flex-basis: 25%;
	text-align: center;
	margin:15px;
	margin-left: 25px;
	border:2px solid black;
	border-radius: 10%;
}
.item-block:hover
{
	background-color: grey;
}
.p-img
{
	width: inherit;
	border-bottom:2px solid black;
	padding:20px;
}
.p-name
{
	padding:5px;
}
.row
{
	margin-right:0;
}
.clothpage-img
{
	width: inherit;
	padding:10%;
}
.clothpage-h-block
{
	width: 100%;
}
.clothpage-h
{
	padding: 20px;
	text-align: center;	
}
.clothpage-price
{
	text-align: center;
	padding:20px;
}